*, ::before, ::after{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: Calibri, sans-serif; 
  background: linear-gradient(#f3f1f1, #b8b5b5);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.title{
  font-size: 40px;
  color: #b81111;
}

.plyArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .user-input p{
  margin: 0;
  padding: 0;
 }

 .user-input{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .user-in{
  width: 25px;
  border: 2px solid rgb(99, 92, 92);
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
 }

 .submit{
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  margin-left: 4px;
  background-color: rgb(238, 170, 106);
  border-radius: 4px;
  /* font font-family: ; */
  border: 2px solid rgb(99, 92, 92);
  cursor: pointer;
 }

 .user-copy{
  margin-right: 10px;
 }

 .prompt{
  font-size: 14px;
  color:#b81114;
 }

 button{
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  background-color: cornsilk;
  border-radius: 4px;
  border: 2px solid rgb(99, 92, 92);
  cursor: pointer;
 }

 .controls{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
 }

 .gridCnt{
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 30px solid #b81114;
  border-radius: 14px;
 }

 .row{
  display: flex;
  flex: 1;
 }

 .column{
  border: 1px solid rgb(243,239,239);
  flex: 1;
 }

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #b81114;
}
a:link{
  color: #b81114;
}
